<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseConnection" value="Server=localhost; Port=3306; User Id={MYSQLUSR}; Password={MYSQLPASSWORD}; Database={MYSQLDB}; Max Pool Size=200" />
    <add key="BaseUrl" value="{PORTALWEBSERVER}" />
    <add key="UserClass" value="Terradue.Tep.UserTep, Terradue.Tep" />
    <add key="LocalContextClass" value="Terradue.Tep.WebServer.TepLocalContext, Terradue.Tep" />
    <add key="WebContextClass" value="Terradue.Tep.WebServer.TepWebContext, Terradue.Tep" />
    <add key="TerradueLogConfigurationFile" value="log4net.config" />
    <!-- enabling internal log4net debug -->
    <add key="log4net.Internal.Debug" value="true" />
    <add key="DataGatewayBaseUrl" value="https://store.terradue.com" />
    <add key="RecastBaseUrl" value="https://recast.terradue.com" />
    <add key="CatalogBaseUrl" value="https://catalog.terradue.com" />
  </appSettings>
  <customErrors mode="Off" />
  <trace enabled="true" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
  <pages validateRequest="false" />
  <system.net>
     <connectionManagement>
        <add address="*" maxconnection="144" />
     </connectionManagement>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="120" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="176" minLocalRequestFreeThreads="152" appRequestQueueLimit="100" />
    <httpHandlers>
      <add path="*" type="Terradue.Tep.WebServer.SessionHttpHandlerFactory" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>