<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="DatabaseConnection" value="Server=localhost; Port=3306; User Id={MYSQLUSR}; Password={MYSQLPASSWORD}; Database={MYSQLDB}; Max Pool Size=200" />
		<add key="BaseUrl" value="{PORTALWEBSERVER}" />
		<add key="UserClass" value="Terradue.Tep.UserTep, Terradue.Tep" />
		<add key="LocalContextClass" value="Terradue.Tep.WebServer.TepLocalContext, Terradue.Tep" />
		<add key="WebContextClass" value="Terradue.Tep.WebServer.TepWebContext, Terradue.Tep" />
		<add key="TerradueLogConfigurationFile" value="log4net.config" />
		<add key="DataGatewayBaseUrl" value="https://store.terradue.com" />
		<add key="RecastBaseUrl" value="https://recast.terradue.com" />
		<add key="CatalogBaseUrl" value="https://catalog.terradue.com" />
		<add key="sso-eosso-secret" value="" />
	</appSettings>
	<customErrors mode="Off" />
	<trace enabled="false" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
	<pages validateRequest="false" />
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="144" />
		</connectionManagement>
	</system.net>
	<system.web>
		<httpRuntime maxQueryStringLength="2097151" requestValidationMode="2.0" executionTimeout="300" maxRequestLength="327680" useFullyQualifiedRedirectUrl="false" minFreeThreads="100" minLocalRequestFreeThreads="100" appRequestQueueLimit="5000" />
		<httpHandlers>
			<add path="*" type="Terradue.Tep.WebServer.SessionHttpHandlerFactory" verb="*" />
		</httpHandlers>
		<compilation>
			<assemblies>
			</assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<log4net>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="../logs/tephydro.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyy-MM-dd" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date | [%thread] | %-5level | %property{reporter} | %property{tepuser} | %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>