<div class="cpanel">
	<div class='pageTitle'>
		<div>
			<h2>Administration Panel</h2>
			<p class="lead">Place for administrators to manage entities of the portal</p>
		</div>
	</div>
	<div class="cpanel-menu container">

		<div class="row-fluid">
				<a href="#!collection" class="menuItem">
					<i class="fa fa-sellsy"></i>
					<br/>
					<span>Data Collections</span>
				</a>
				<a href="#!provider" class="menuItem">
					<i class="fa fa-cogs"></i>
					<br/>
					<span>Wps Providers</span>
				</a>
				<a href="#!service" class="menuItem">
					<i class="fa fa-cog"></i>
					<br/>
					<span>Wps Services</span>
				</a>
				<a href="#!datapackage" class="menuItem">
					<i class="fa fa-cubes"></i>
					<br/>
					<span>Data packages</span>
				</a>
				<a href="#!wpsjob" class="menuItem">
					<i class="fa fa-wrench"></i>
					<br/>
					<span>Wps Jobs</span>
				</a>
				<a href="#!news" class="menuItem">
					<i class="fa fa-newspaper-o"></i>
					<br/>
					<span>News</span>
				</a>
				<a href="#!banners" class="menuItem">
					<i class="fa fa-comment"></i>
					<br/>
					<span>Web story banners</span>
				</a>
				<a href="#!logs" class="menuItem">
					<i class="fa fa-file-text"></i>
					<br/>
					<span>Logs</span>
				</a>
				<a href="#!report" class="menuItem">
					<i class="fa fa-bar-chart"></i>
					<br/>
					<span>Reporting</span>
				</a>
				<a href="#!user" class="menuItem">
					<i class="fa fa-user"></i>
					<br/>
					<span>Users</span>
				</a>
				<a href="#!group" class="menuItem">
					<i class="fa fa-users"></i>
					<br/>
					<span>Groups</span>
				</a>
				<a href="#!authorization/role" class="menuItem">
					<i class="fa fa-key"></i>
					<br/>
					<span>Authorization</span>
				</a>
				{{#if accounting}}
					<a href="#!accounting" class="menuItem">
						<i class="fa fa-money"></i>
						<br/>
						<span>Accounting</span>
					</a>
				{{/if}}
		</div>
	</div>
</div>
