<configuration>
  <server type="HyperFastCgi.ApplicationServers.SimpleApplicationServer">
    <!-- Host factory defines how host will be created. SystemWebHostFactory creates host in AppDomain in standard ASP.NET way -->
    <host-factory>HyperFastCgi.HostFactories.SystemWebHostFactory</host-factory>
    <!-- <threads>creates threads at startup. Value "0" means default value -->
    <threads max-io="0" max-worker="0" min-io="10" min-worker="40"/>
    <!--- Sets the application host root directory -->
    <!-- <root-dir>/path/to/your/dir</root-dir>-->
  </server>
  <listener type="HyperFastCgi.Listeners.NativeListener">
    <apphost-transport type="HyperFastCgi.Transports.NativeTransport">
      <multithreading>Task</multithreading>
    </apphost-transport>
    <!--      <protocol>InterNetwork</protocol>-->
    <protocol>Unix</protocol>
    <address>/var/lib/nginx/tmp/fastcgi//hyperfastcgi-tephydro.socket</address>
    <port>9001</port>
  </listener>
  <apphost type="HyperFastCgi.AppHosts.AspNet.AspNetApplicationHost">
    <log level="All" write-to-console="false"/>
    <add-trailing-slash>false</add-trailing-slash>
  </apphost>
  <web-applications>
    <web-application>
      <name>Hydrology TEP 1</name>
      <vhost>hydrology-tep.eo.esa.int</vhost>
      <vport>443</vport>
      <vpath>/</vpath>
      <path>/usr/local/tephydro/webserver/sites/tephydro/root</path>
    </web-application>
  </web-applications>
</configuration>